
body {
  background-color: rgb(255, 255, 255);
}

.Yerp {
  grid-row: 1;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  padding: 10px;
  width: 100%;
  text-align: center;
  background: #c791e4;
  color: #fff;
  padding-bottom: 40px;
}

.Yerp-content{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:20px
}

#controls{
    margin-top: 30px;
    text-align: center;
}

#controls input{
    width:300px;
    padding:8px;
}

button{
    background-color: #dfaef1;
    color: white;
    border:none;
    padding: 10px 16px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background-color: #b6edc3;
}

table{
    width:80%;
    margin:20px auto;
    border-collapse: collapse;
}

th{
    background-color: #d9b2e6;
    color: white;
    padding:10px;
    text-align: center;

}

td
{
    padding: 10px;
    border: 1px solid #ccc
}
