
body {
  background-color: rgb(228, 242, 218);
}

.Yerp {
  grid-row: 1;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  padding: 10px;
  width: 100%;
  text-align: center;
  background: #c791e4;
  color: #fff;
  padding-bottom: 40px;
}

button{
    background-color: #dfaef1;
    color: white;
    border:none;
    padding: 10px 16px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background-color: #b6edc3;
}

